body {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar { width: 8px; height: 3px; background-color: transparent;}
::-webkit-scrollbar-button { width: 0; height: 0; background-color: transparent; }
::-webkit-scrollbar-corner { width: 0; height: 0; background-color: transparent; }
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  transition: background-color .3s;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--bg-color);
  transition: background-color .3s;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}

/**
  Main part (controlled by micro-frontend apps)
 */
#app, #editor {
  position: absolute;
  top: 3.7rem;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-section);
  transition: background-color .3s;
}

#app {
  bottom: 0;
  left: calc(100vw / 12 * 2);
  right: 0;
}

#editor {
  left: 0;
  width: 100%;
}

.content-article {
  padding: 1rem 2rem;
}

@media screen and (max-width: 1024px) {
  #app {
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  #app {
    width: 100%;
    left: 0;
  }
}
