.nav {
  position: fixed;
  top: 3.7rem;
  left: 0;
  bottom: 0;
  width: calc(100vw / 12 * 2);
  overflow-y: auto;
  border-right-width: 1px;
  border-right-style: solid;
  z-index: 4;
  border-right-color: var(--border-color);
  background-color: var(--bg-nav);
  transition: background-color .3s, border-right-color .3s;
}

.nav .lang-switch {
  margin-left: 2rem;
  margin-top: 1rem;
}

.nav > .route {
  margin-top: 1rem;
}

.nav .route header, .nav .route a {
  padding-left: 2rem;
  line-height: 2em;
}

.nav .route header {
  text-transform: uppercase;
  font-size: .8em;
  color: var(--text-color-secondary);
}

.nav .route ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav .route li {
  height: 2em;
  color: var(--text-color-primary);
}

.nav .route li:hover {
  background: #bb33ff;
  color: white;
  transition: color 0s;
}

.nav .route li.active {
  color: #6C6EE5;
}

.nav .route a:not([target="_blank"]) {
  width: inherit;
  height: inherit;
  display: block;
  font-size: 1em;
  text-transform: capitalize;
}

.nav .route a[target="_blank"] {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
}

.nav .route a[target="_blank"] img {
  width: 1.75rem;
  height: 1.75rem;
}

.nav .route a[target="_blank"] span {
  margin-right: 0.75rem;
  font-size: 0.9em;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .nav .route a[target="_blank"] {
    display: none;
  }

  .nav .lang-switch {
    display: none;
  }
}


@media screen and (max-width: 1024px) {
  .nav {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    left: unset;
    right: 100%;
    transition: right .3s;
    width: 50%;
  }

  .nav.open {
    display: block;
    right: 50%;
  }
}

@media screen and (max-width: 560px) {
  .nav {
    width: 70%;
  }

  .nav.open {
    right: 30%;
  }
}
