body {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

body.light-theme {
  --bg-color: white;
  --text-color-primary: black;
  --text-color-secondary: black;
  --border-color: #EEEEEE;
  --bg-nav: #fcfcfc;
  --bg-section: white;
}
@media (prefers-color-scheme: light) {
  body {
    --bg-color: white;
    --text-color-primary: black;
    --text-color-secondary: black;
    --border-color: #EEEEEE;
    --bg-nav: #fcfcfc;
    --bg-section: white;
  }
}

body.dark-theme {
  --text-color-primary: #EBEBEC;
  --text-color-secondary: #BDC0C3;
  --border-color: #1C2023;
  --bg-color: #1C2023;
  --bg-nav: #2A2D31;
  --bg-section: #131314;
}
@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #1C2023;
    --text-color-primary: #EBEBEC;
    --text-color-secondary: #BDC0C3;
    --border-color: #1C2023;
    --bg-nav: #2A2D31;
    --bg-section: #131314;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  Main part (controlled by micro-frontend app)
 */
#app {
  position: absolute;
  top: 3.7rem;
  bottom: 0;
  left: calc(100vw / 12 * 2);
  right: 0;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-section);
  transition: background-color .3s;
}

@media screen and (max-width: 1024px) {
  #app {
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  #app {
    width: 100%;
    left: 0;
  }
}
