body {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  Navigation styles
 */
.nav {
  position: fixed;
  top: 3.7rem;
  left: 0;
  bottom: 0;
  background: rgba(220, 220, 220, .1);
  width: calc(100vw / 12 * 2);
  overflow-y: auto;
  border-right: 1px solid #EEEEEE;
  z-index: 4;
}

/**
  Main part (controlled by micro-frontend app)
 */
.section {
  position: absolute;
  top: 3.7rem;
  bottom: 0;
  left: calc(100vw / 12 * 2);
  right: 0;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  .section {
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 100%;
    left: 0;
  }
}
