<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />

		%sapper.base%

		<link rel="manifest" href="manifest.json" />
		<link rel="icon" type="image/png" href="favicon.png" />
		<link rel="stylesheet" href="/style/main.css" />

		%sapper.styles%

		%sapper.head%
	</head>

	<body>
    <!-- Layout Sapper micro-frontend -->
    <div id="main">
      %sapper.html%
    </div>

    <!-- Application Vue/Svelte/React micro-frontend for documentation -->
    <div id="app"></div>

    %sapper.scripts%
	</body>
</html>
